*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    background-color: #fff;
    color: rgba(0,0,0,.87);
    font-family: SoDoSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-font-feature-settings: "calt";
    font-feature-settings: "calt";
}
.main-container > img{
    width: 50px;
}

/* #starbuckslogo{
    width: 20px; */
}
.learn-more p {
    background-color: tomato;
}